<div class="dashboard-container">
  <button 
    class="open-btn" 
    *ngIf="!sidebarOpen" 
    (click)="sidebarOpen = true">
    <i class="fa-solid fa-bars"></i>
  </button>

  <app-sidebar 
    [sidebarOpen]="sidebarOpen" 
    (sidebarOpenChange)="sidebarOpen = $event">
  </app-sidebar>

  <div class="main-content">
    <div class="task-dashboard">
      <div class="header-row">
        <div class="header-title">
          <span class="icon"><i class="fa-solid fa-list-check"></i></span>
          <div>
            <h1 class="title">Gestión de Tareas</h1>
            <p class="subtitle">Organiza, sigue y gestiona tus tareas eficientemente.</p>
          </div>
        </div>
        <div class="buttons">
          <button class="btn-primary" (click)="abrirModalNuevaTarea()">
            <i class="fa-solid fa-plus"></i> Añadir Nueva Tarea
          </button>
          <app-task-modal
            *ngIf="showCreateTaskModal"
            [usuarioId]="user.id"
            [modoEdicion]="false"
            [tareaAEditar]="null"
            [tareas]="tasks"
            (onClose)="cerrarModalNuevaTarea()"
            (onCreate)="onTaskCreated($event)">
          </app-task-modal>

          <app-task-modal
            *ngIf="showEditTaskModal"
            [usuarioId]="user.id"
            [modoEdicion]="true"
            [tareaAEditar]="tareaEditando"
            [tareas]="tasks"
            (onClose)="cerrarModalEditar()"
            (onCreate)="onTaskEdited($event)">
          </app-task-modal>

          <button class="btn-accent" (click)="openCategoryModal()">
            <i class="fa-solid fa-layer-group"></i> Gestionar Categorías
          </button>
          <app-category-modal
            *ngIf="categoryModalVisible"
            (onClose)="closeCategoryModal()">
          </app-category-modal>
        </div>
      </div>

  <div class="toolbar filters-container">
    <span class="filter-icon ">
      <i class="fa-solid fa-filter filter-outline"></i>
    </span>
    <div class="filter-box">
      <label for="categoryFilter"> Categoría:</label>
      <select id="categoryFilter" [(ngModel)]="filtroCategoria" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todas</option>
        <option *ngFor="let cat of categorias" [ngValue]="cat.id">{{cat.nombreCategoria}}</option>
      </select>
    </div>
    <div class="filter-box">
      <label for="estadoFilter">Estado:</label>
      <select id="estadoFilter" [(ngModel)]="filtroEstado" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todos</option>
        <option value="Pendiente">Pendiente</option>
        <option value="En_progreso">En Progreso</option>
        <option value="Hecho">Completado</option>
        <option value="Cancelado">Cancelado</option>
      </select>
    </div>
    <div class="filter-box">
      <label for="prioridadFilter">Prioridad:</label>
      <select id="prioridadFilter" [(ngModel)]="filtroPrioridad" (change)="aplicarFiltros()">
        <option [ngValue]="null">Todas</option>
        <option value="critica">Critica</option>
        <option value="alta">Alta</option>
        <option value="media">Media</option>
        <option value="baja">Baja</option>
      </select>
    </div>
    <div class="filter-box">
      <label for="searchFilter">Buscar:</label>
      <input id="searchFilter" type="text" [(ngModel)]="filtroBusqueda" (input)="aplicarFiltros()" placeholder="Nombre o descripción...">
    </div>
    <button class="btn-reset" (click)="limpiarFiltros()">Limpiar Filtros</button>
  </div>

      <div class="task-grid">
        <div class="task-card" *ngFor="let task of filteredTasks">
          <div 
            class="categoria-ovalo esquina-superior-derecha"
            *ngIf="task.categoriaObj"
            [ngStyle]="{'background-color': task.categoriaObj.colorCategoria}">
            {{ task.categoriaObj.nombreCategoria }}
          </div>
          <div class="task-header">
            <div>
              <h3>{{ task.nombreTarea }}</h3>
              <p class="description">{{ task.descripcionTarea }}</p>
            </div>
          </div>

          <div class="task-info">
            <span class="badge estado-badge">
              <select [(ngModel)]="task.estado" class="estado-select" (change)="actualizarEstadoTarea(task)">
                <option value="Pendiente">Pendiente</option>
                <option value="En_progreso">En Progreso</option>
                <option value="Hecho">Completado</option>
                <option value="Cancelado">Cancelado</option>
              </select>
            </span>
            <span class="badge">{{ task.dificultado }}</span>
            <span class="badge priority">{{ task.prioridad }}</span>
          </div>

          <hr class="task-divider">
          <div class="task-dates">
            <span class="info"><i class="fa-solid fa-calendar-days"></i> <strong>Entrega:</strong> {{ task.fechaEntregaTarea }}</span>
          </div>

          <div class="actions">
            <button class="edit-btn" title="Editar" (click)="abrirModalEditar(task)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="delete-btn" title="Eliminar" (click)="eliminarTarea(task)"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
