<div class="login-wrapper">
  <div class="login-card">
    <img src="/logo.png" alt="VitaSync" class="logo" />

    <h2>Recuperar Contraseña</h2>
    <p class="subtitle">
      Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
      <label for="email">Correo Electrónico</label>
      <div class="input-group">
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" id="email" formControlName="email" placeholder="tu@email.com" />
      </div>
      <div class="error" *ngIf="submitted && f['email'].errors">
        <small *ngIf="f['email'].errors?.['required']">El correo es obligatorio.</small>
        <small *ngIf="f['email'].errors?.['email']">Formato inválido.</small>
      </div>

      <button class="btn" type="submit">
        <i class="fa-solid fa-paper-plane"></i> Enviar Enlace de Recuperación
      </button>

      <div *ngIf="success" class="success-message">
        <i class="fa-solid fa-circle-check"></i> Correo de recuperación enviado.
      </div>
    </form>

    <a class="link-back" (click)="goToLogin()">
      <i class="fa-solid fa-arrow-left"></i> Volver a Iniciar Sesión
    </a>
  </div>
</div>
