:root {
  --color-primary: #4DB6AC;
  --color-background: #F5F5F5;
  --color-accent: #8E24AA;
  --color-text: #222;
  --color-error: #D32F2F;
}/* You can add global styles to this file, and also import other style files */
